.messages-container {
    text-align: center;
    padding: 20px;
    background: linear-gradient(#f5a1cb, #e66aa8);
    min-height: 100vh;
  }
  
 
  .message-list {
    list-style-type: none;
    padding: 0;
  }
  
  .message-card {
    background: linear-gradient(to right, #f1047a, #f73998, #e40d79, #f73998);
    color: white;
    padding: 15px;
    margin: 10px auto;
    width: 80%;
    max-width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 25px;
  }
  
 